[project]
	description = Midas Journal Module
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Betsy McPhail (BetsyMcPhail)
[access "refs/for/refs/*"]
	read = group user/Betsy McPhail (BetsyMcPhail)
	push = group user/Betsy McPhail (BetsyMcPhail)
	label-Code-Review = -2..+2 group user/Betsy McPhail (BetsyMcPhail)
	label-Verified = -1..+1 group user/Betsy McPhail (BetsyMcPhail)
	rebase = group user/Betsy McPhail (BetsyMcPhail)
	removeReviewer = group user/Betsy McPhail (BetsyMcPhail)
	submit = group user/Betsy McPhail (BetsyMcPhail)
[access "refs/heads/*"]
	read = group user/Betsy McPhail (BetsyMcPhail)
	create = group user/Betsy McPhail (BetsyMcPhail)
	push = +force group user/Betsy McPhail (BetsyMcPhail)
	pushMerge = group user/Betsy McPhail (BetsyMcPhail)
[access "refs/tags/*"]
	push = +force group user/Betsy McPhail (BetsyMcPhail)
	pushTag = group user/Betsy McPhail (BetsyMcPhail)
	pushSignedTag = group user/Betsy McPhail (BetsyMcPhail)
